.card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canva{
    width:3.5in;
    height:2in ;
    background-color: black;
}
.avater{
    position: relative;
    left: 2%;
    margin-top: 2%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fa2;
}
.text1{
    color: #aaa;
    position: relative;
    left:30%;
    margin-top:5%;
    top: -50%;
}
.tittle{
    margin-top: -20px;
}
.icon:nth-child(2){
    color: aqua;
}
.icon{
    display: flex;
    position: relative;
    margin-top: -22%;
    left: 4%;
    text-decoration: none;
}
.logo{
    font-size: 20px;
    padding:5px;
    color:#ddd;
}
.text2{
    position: relative;
    color: #ddd;
    left:48%;
    top: 10%;   
}